@model midterm_project.Models.Pet

<div class="form-group">
	<div class="row input-group">
		<label class="form-label" asp-for="Name">Name:</label>
		<input asp-for="Name"/>
		<div class="col-12 text-danger">
			<span asp-validation-for="Name"></span>
		</div>
	</div>

	<div class="row input-group">
		<label class="form-label" asp-for="Description">Description:</label>
		<textarea asp-for="Description"></textarea>
		<div class="col-12 text-danger">
			<span asp-validation-for="Description"></span>
		</div>
	</div>

	<div class="row input-group">
		<label class="form-label" asp-for="Url">Photo URL:</label>
		<input asp-for="Url"/>
		<div class="col-12 text-danger">
			<span asp-validation-for="Url"></span>
		</div>
	</div>
</div>