@model midterm_project.Models.Pet


<div>
	<label class="form-label" asp-for="Name">Name:</label>
	<input asp-for="Name"/>
</div>

<div>
	<label class="form-label" asp-for="Description">Description:</label>
	<input asp-for="Description"/>
</div>

<div>
	<label class="form-label" asp-for="Url">Photo:</label>
	<input asp-for="Url"/>
</div>

<input type="submit" class="btn btn-primary"/>