@{
	ViewData["Title"] = "All Pets";
}

<form asp-controller="Pet" asp-action="Detail" method="post">
	<h1>Create New Pet</h1>

	<div class="form-group">
		<div class="row input-group">
			@* <label asp-for="Name"></label>
			<input asp-for="Name"/> *@
		</div>
	</div>
</form>