@model midterm_project.Models.Pet

@{
	ViewData["Title"] = "Pet Details";
}

<div class="row">
	<div class="col-3">
		<img src="@Model.ImgUrl" class="img-fluid float-end rounded" />
	</div>
	<div class="col-8">
		<h1>Cat Details</h1>
		<h2>@Model.Name</h2>
		<p>@Model.Description</p>
		<a class="btn btn-light mx-1" asp-controller="Pet" asp-action="List">Back</a>
		<a class="btn btn-primary mx-1" asp-controller="Pet" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
	</div>
</div>