@model midterm_project.Models.Pet

@{
	ViewData["Title"] = "Details Page";
}

<h1>Edit Pet Details</h1>
<form asp-controller="Pet" asp-action="Edit" method="post">
	<partial name="_PetInputForm" model="Model" />
	<input type="hidden" asp-for="Id" />

	<a class="btn btn-light" asp-controller="Pet" asp-action="List">Back</a>
	<input type="submit" class="btn btn-primary" value="Save" />
</form>